* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.text{
    display: flex;
    flex-direction: column;
    text-shadow: #333;



}

.text1{

    font-size: 40px;
    margin: 5px;
    font-weight: 540;
    color: #333;



}

.smez{

    display: flex;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    
}

img{
    border-radius: 100px;


}

.container {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.column {
    flex: 1;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.column h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.column button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
}

.column button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-height: 150px;
    }

    .column {
        margin-bottom: 20px;
    }

    .text1{
        font-size: 22px;


    }
}
